Source: ros-indigo-mav-comm
Section: misc
Priority: extra
Maintainer: Fadri Furrer <fadri.furrer@mavt.ethz.ch>
Build-Depends: debhelper (>= 9.0.0), ros-indigo-catkin
Homepage: https://github.com/ethz-asl/mav_comm
Standards-Version: 3.9.2

Package: ros-indigo-mav-comm
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-indigo-mav-msgs, ros-indigo-planning-msgs
Description: Contains messages and services for MAV communication
