Source: ros-kinetic-mav-comm
Section: misc
Priority: extra
Maintainer: Fadri Furrer <fadri.furrer@mavt.ethz.ch>
Build-Depends: debhelper (>= 9.0.0), ros-kinetic-catkin
Homepage: https://github.com/ethz-asl/mav_comm
Standards-Version: 3.9.2

Package: ros-kinetic-mav-comm
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kinetic-mav-msgs
Description: Contains messages and services for MAV communication
